:root{
  --TABLE-BG-COLOR : #f3f4f6;
  --TABLE-BORDER-COLOR: #e9eaec;
  --BTN-EDIT-COLOR: #4f46e5;
  --TABLE-DATA-COLOR: #8f949e;
}

.heading{
  text-align: center;
}

.users-data{
  background-color: var(--TABLE-BG-COLOR);
  min-width: 720px;
  max-width: 70vw;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 auto;
}

.spinner{
  display: flex;
  justify-content: center;
  padding: 1rem;
}